<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="baretail" />
  <package id="bitwarden" />
  <package id="bitwarden-cli" />
  <package id="checksum" />
  <package id="chocolateygui" />
  <package id="dnspy" />
  <package id="docfx" />
  <package id="dos2unix" />
  <package id="drawio" />
  <package id="err" />
  <package id="filezilla" />
  <package id="geekuninstaller" />
  <package id="gh" />
  <package id="git.install" />
  <package id="gitextensions" />
  <package id="git-fork" />
  <package id="github-desktop" />
  <package id="grep" />
  <package id="InkScape" />
  <package id="jetbrainstoolbox" />
  <package id="keepass.install" />
  <package id="libreoffice" />
  <package id="LinkShellExtension" />
  <package id="lockhunter" />
  <package id="malwarebytes" />
  <package id="MemProfiler" />
  <package id="mpv.install" />
  <package id="msbuild-structured-log-viewer" />
  <package id="nmap" />
  <package id="notepadplusplus.install" />
  <package id="NSwagStudio" />
  <package id="nuget.commandline" />
  <package id="openssl" />
  <package id="paint.net" />
  <package id="postman" />
  <package id="processhacker.install" />
  <package id="putty" />
  <package id="scrcpy" />
  <package id="sharex" />
  <package id="Silverlight" />
  <package id="snoop" />
  <package id="soapui" />
  <package id="sqltoolbelt" />
  <package id="sysinternals" />
  <package id="telnet" />
  <package id="tightvnc" />
  <package id="vim" />
  <package id="virtualbox" />
  <package id="winmerge" />
  <package id="wireshark" />
  <package id="wixedit" />
  <package id="wixtoolset" />
</packages>